body{
    font-family: "Poppins", sans-serif;
}
.customShadow{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/*----usr table------*/
.userTable{
    @apply bg-white 
}

.userTable th{
    @apply border text-base font-medium
}

.userTable td{
    @apply border text-base text-center
}

/**scrollbar hidden****/
.scrollbar-none::-webkit-scrollbar{
    display: none;
}

.ajv-icons{
    font-size: large;
}

.form-group {
    margin-bottom: 20px;
}
.form-control{
    background: rgba(208, 213, 221, 0);
    border: 1px solid rgba(208, 213, 221, 1);
    padding: 8px;
    height: 45px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(100, 116, 139, 7);
    margin-top: 8px;
}
.ajv-button{
    background: #ff5310;
    color: #fff !important;
    border-radius: .5rem;
    
}
.apply_delership h2{

    font-size: 32px;
    font-weight: normal !important;
    line-height: 38px;
    letter-spacing: -0.005em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}
.card-details{
    background: #4a4545;
}
.card-details p {
    display: block;
    background: #ECECEC33;
    color: #fff;
    border-radius: 5px;
    padding: 12px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.005em;
    margin-top: 10px;
}
.card-details span {
    float: right;
}